<!DOCTYPE html>
<html>
<head>
    <style>
        h1 { color: #ffffff; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px; }

        p { color: #adb7bd; font-family: 'Lucida Sans', Arial, sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0; }

        button { color: #fe921f; }

        a:hover { color: #ffffff }


        body { background-color: lightblue; }
    </style>
</head>
<body>

    <h1> Welcome to the standard home </h1>
    <br>
    <form method="get" action="/chatroom">
        <button type="submit">Continue</button>
    </form>


</body>
</html>